
@media only screen and (max-width: 768px) {
    .text-slides {

        margin: -1px !important;
    }
    .text-slide {
        height: 40vh !important;
        display: flex !important;

        justify-content: space-evenly!important;
        align-items: center!important;
        flex-wrap: wrap!important;
    }


}
